@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

@layer base {
  /* PRESET */
  :root {
    --background-color: #fff; /* 0 0% 100% */
    --foreground-color: #191d21; /* 240 10% 3.9% */

    --card-color: #ffffff; /* 0 0% 100% */
    --card-foreground-color: #191d21; /* 240 10% 3.9% */

    --popover-color: #ffffff; /* 0 0% 100% */
    --popover-foreground-color: #191d21; /* 240 10% 3.9% */

    --primary-color: #258c3e; /* 146, 100%, 29% */
    --primary-foreground-color: #f5f5f5; /* 0 0% 98% */

    --secondary-color: #e6eaf0; /* 240 4.8% 95.9% */
    --secondary-foreground-color: #191d21; /* 240 5.9% 10% */

    --muted-color: #e6eaf0; /* 240 4.8% 95.9% */
    --muted-foreground-color: #617c91; /* 240 3.8% 46.1% */

    --accent-color: #e6eaf0; /* 240 4.8% 95.9% */
    --accent-foreground-color: #191d21; /* 240 5.9% 10% */

    --destructive-color: #ef4444; /* 0 62.8% 30.6% */
    --destructive-foreground-color: #f5f5f5; /* 0 0% 98% */

    --border-color: #d2d9e2; /* 240 5.9% 90% */
    --input-color: #d2d9e2; /* 240 5.9% 90% */
    --ring-color: #303c43; /* 240 10% 3.9% */

    --radius: 0.5rem;
  }

  .dark {
    --background-color: #191d21; /* 240 10% 3.9% */
    --foreground-color: #f5f5f5; /* 0 0% 98% */

    --card-color: #191d21; /* 240 10% 3.9% */
    --card-foreground-color: #f5f5f5; /* 0 0% 98% */

    --popover-color: #191d21; /* 240 10% 3.9% */
    --popover-foreground-color: #f5f5f5; /* 0 0% 98% */

    --primary-color: #f5f5f5; /* 0 0% 98% */
    --primary-foreground-color: #191d21; /* 240 5.9% 10% */

    --secondary-color: #2e2a38; /* 240 3.7% 15.9% */
    --secondary-foreground-color: #f5f5f5; /* 0 0% 98% */

    --muted-foreground-color: #a7b2c1; /* 240 5% 64.9% */

    --accent-color: #2e2a38; /* 240 3.7% 15.9% */
    --accent-foreground-color: #f5f5f5; /* 0 0% 98% */

    --destructive-color: #ef4444; /* 0 62.8% 30.6% */
    --destructive-foreground-color: #f5f5f5; /* 0 0% 98% */

    --border-color: #2e2a38; /* 240 3.7% 15.9% */
    --input-color: #2e2a38; /* 240 3.7% 15.9% */
    --ring-color: #e7e9f3; /* 240 4.9% 83.9% */
  }

  /* CUSTOM SET */
  :root {
    --background-color: #0000000a; /* 0, 0%, 0%, 0.04 */

    --primary-color: #258c3e; /* 146, 100%, 29% */

    --muted-color: #00000015; /* 0, 0%, 0%, 0.45 */

    --border-color: #0000000F;

    --watermark-color: #00000040;

    --text-color: #000000d9; /* 0, 0%, 0%, 0.85 */
    --sub-text-color: #00000073;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
