.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist

// TODO: Remove this when a template is final
// ignored only when used as a template
package-lock.json